# .gitignore
# ignore the ruff config file
.ruffconfig

# ignore the python cache
__pycache__/

# ignore the venv
venv/

# ignore the build artifacts
build/

# ignore the dist artifacts
dist/

# ignore the pyc files
*.pyc

# ignore the egg files
*.egg-info